<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Slider</title>
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body>
    <div id="app"> 
        <div class="container">
            <div>
                
                <button @click="back" ><i class="fa-solid fa-arrow-left"></i></button>
            </div> 
            <div class="slider-wrapper" tabindex="0"v-for="(slide,index) in slides":key="index" >
               <div class="item" v-if="index === CurrentImage">
              
                    <img :src="slides[CurrentImage].image" alt="slides[CurrentImage].title" />
                    <div class="text">
                       
                        <h3 >{{slides[CurrentImage].title}}</h3>
                        <p>
                           {{slides[CurrentImage].text}}
                        </p>
                    </div>
                </div>
                </div>
                <div>
                <button @click="next">
                    <i class="fa-solid fa-arrow-right"></i>
                </button>
            </div>
            
        </div>

    </div>

    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script src="./js/script.js"></script>
</body>

</html>